.revenueIcon{
    color: #FFC107;
    // background-color: #FFC107;
}

// Each icon type gets its own styling
.revenueWrapper {
    background-color: rgba(74, 222, 128, 0.1);
  }
  .revenueIcon {
    color: #4ADE80;
  }
  
  .usersWrapper {
    background-color: rgba(99, 102, 241, 0.1);
  }
  .usersIcon {
    color: #6366F1;
  }